.page-header {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

h1 {
  font-size: 20px;
  color: white;
  justify-content: center;
  margin-left: 50px;
}
.top {
  background-color: black;
  color: white;
  border-radius: 20px;
}

.courses-button {
  background-color: yellow;
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 850px;
}

.profile-image {
  width: 100px;
  border-radius: 50px;
}

.user-name {
  color: #333;
  font-size: 18px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
}
